@charset "UTF-8";
body {
  margin: 0;
  font-family: Verdana, Arial, \\5fae\8edf\6b63\9ed1\9ad4, Microsoft JhengHei, \\5fae\8edf\96c5\9ed1\9ad4, Microsoft YaHei;
  font-size: 14px;
  color: #999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.schedule {
  width: 90%;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.schedule .date {
  background-color: #eaedf2;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.schedule .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.schedule .row .info {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.285714%;
  padding: 15px 0;
  border: 0.5px solid #e1e2e4;
  word-break: break-all;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.schedule .row .info:not(.date) {
  cursor: pointer;
}

.schedule .row .info.on_sale::after {
  content: "最便宜";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 0;
  border-left: 20px solid #ff8f27;
  border-bottom: 20px solid transparent;
  font-size: 14px;
  color: #ff8f27;
}

.schedule .row .info .year {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 28%;
  color: #0a0;
  font-size: 14px;
}

.schedule .row .info .price {
  display: inline-block;
  margin-right: 4%;
  font-weight: 600;
  color: #444;
  pointer-events: none;
}

.schedule .row .info .price .ex {
  display: inline-block;
  margin-left: 5px;
  color: #999;
}

.schedule .row .new_year::before {
  content: "2018";
  display: block;
  margin: 0 0 5px 25px;
  color: #24a07c;
  word-break: keep-all;
}

@media all and (max-width: 480px) {
  .schedule .row .new_year::before {
    margin: 0 0 0 5px;
  }
}

.schedule .set_off {
  width: 12.5%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.schedule .set_off .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.schedule .set_off .row .info {
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
}

.schedule .set_off .row .info:first-child {
  background-color: #eaedf2;
}

.schedule .set_off .row .info span:first-child {
  position: absolute;
  top: 6px;
  right: 6px;
}

.schedule .set_off .row .info span:last-child {
  position: absolute;
  bottom: 6px;
  left: 6px;
}

.schedule .return {
  width: 87.5%;
  margin-left: -1px;
}

.schedule .return .row:first-of-type .info {
  background-color: #eaedf2;
}

.schedule .return .info.other {
  background-color: #f3f3f3;
}

.schedule .return .info:hover, .schedule .return .info.active {
  border: 0.5px solid #ff8f27;
  background-color: #fff9e3;
  position: relative;
  z-index: 2;
}

.schedule .return .date {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 0 10px;
  position: relative;
}

@media all and (max-width: 980px) {
  .schedule {
    width: 90%;
  }
  .schedule .set_off {
    width: 15%;
  }
  .schedule .return {
    width: 85%;
    overflow: hidden;
    position: relative;
  }
  .schedule .return .leftBtn,
  .schedule .return .rightBtn {
    position: absolute;
    top: 175px;
    left: 1px;
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    cursor: pointer;
  }
  .schedule .return .leftBtn::after, .schedule .return .leftBtn::before,
  .schedule .return .rightBtn::after,
  .schedule .return .rightBtn::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transform-origin: center left;
            transform-origin: center left;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .schedule .return .leftBtn::after,
  .schedule .return .rightBtn::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .schedule .return .rightBtn {
    left: auto;
    right: 0px;
  }
  .schedule .return .rightBtn::after, .schedule .return .rightBtn::before {
    -webkit-transform-origin: center right;
            transform-origin: center right;
  }
  .schedule .return .row.col-1 {
    width: 700%;
  }
  .schedule .return .row.col-1.state-0 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    transform: translateX(0%);
  }
  .schedule .return .row.col-1.state-1 {
    -webkit-transform: translateX(-14.28571%);
            transform: translateX(-14.28571%);
    transform: translateX(-14.28571%);
  }
  .schedule .return .row.col-1.state-2 {
    -webkit-transform: translateX(-28.57143%);
            transform: translateX(-28.57143%);
    transform: translateX(-28.57143%);
  }
  .schedule .return .row.col-1.state-3 {
    -webkit-transform: translateX(-42.85714%);
            transform: translateX(-42.85714%);
    transform: translateX(-42.85714%);
  }
  .schedule .return .row.col-1.state-4 {
    -webkit-transform: translateX(-57.14286%);
            transform: translateX(-57.14286%);
    transform: translateX(-57.14286%);
  }
  .schedule .return .row.col-1.state-5 {
    -webkit-transform: translateX(-71.42857%);
            transform: translateX(-71.42857%);
    transform: translateX(-71.42857%);
  }
  .schedule .return .row.col-1.state-6 {
    -webkit-transform: translateX(-85.71429%);
            transform: translateX(-85.71429%);
    transform: translateX(-85.71429%);
  }
  .schedule .return .row.col-1.state-7 {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .schedule .return .row.col-2 {
    width: 350%;
  }
  .schedule .return .row.col-2.state-0 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    transform: translateX(0%);
  }
  .schedule .return .row.col-2.state-1 {
    -webkit-transform: translateX(-14.28571%);
            transform: translateX(-14.28571%);
    transform: translateX(-14.28571%);
  }
  .schedule .return .row.col-2.state-2 {
    -webkit-transform: translateX(-28.57143%);
            transform: translateX(-28.57143%);
    transform: translateX(-28.57143%);
  }
  .schedule .return .row.col-2.state-3 {
    -webkit-transform: translateX(-42.85714%);
            transform: translateX(-42.85714%);
    transform: translateX(-42.85714%);
  }
  .schedule .return .row.col-2.state-4 {
    -webkit-transform: translateX(-57.14286%);
            transform: translateX(-57.14286%);
    transform: translateX(-57.14286%);
  }
  .schedule .return .row.col-2.state-5 {
    -webkit-transform: translateX(-71.42857%);
            transform: translateX(-71.42857%);
    transform: translateX(-71.42857%);
  }
  .schedule .return .row.col-2.state-6 {
    -webkit-transform: translateX(-85.71429%);
            transform: translateX(-85.71429%);
    transform: translateX(-85.71429%);
  }
  .schedule .return .row.col-2.state-7 {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .schedule .return .row.col-3 {
    width: 233.33333%;
  }
  .schedule .return .row.col-3.state-0 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    transform: translateX(0%);
  }
  .schedule .return .row.col-3.state-1 {
    -webkit-transform: translateX(-14.28571%);
            transform: translateX(-14.28571%);
    transform: translateX(-14.28571%);
  }
  .schedule .return .row.col-3.state-2 {
    -webkit-transform: translateX(-28.57143%);
            transform: translateX(-28.57143%);
    transform: translateX(-28.57143%);
  }
  .schedule .return .row.col-3.state-3 {
    -webkit-transform: translateX(-42.85714%);
            transform: translateX(-42.85714%);
    transform: translateX(-42.85714%);
  }
  .schedule .return .row.col-3.state-4 {
    -webkit-transform: translateX(-57.14286%);
            transform: translateX(-57.14286%);
    transform: translateX(-57.14286%);
  }
  .schedule .return .row.col-3.state-5 {
    -webkit-transform: translateX(-71.42857%);
            transform: translateX(-71.42857%);
    transform: translateX(-71.42857%);
  }
  .schedule .return .row.col-3.state-6 {
    -webkit-transform: translateX(-85.71429%);
            transform: translateX(-85.71429%);
    transform: translateX(-85.71429%);
  }
  .schedule .return .row.col-3.state-7 {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .schedule .return .row.col-4 {
    width: 175%;
  }
  .schedule .return .row.col-4.state-0 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    transform: translateX(0%);
  }
  .schedule .return .row.col-4.state-1 {
    -webkit-transform: translateX(-14.28571%);
            transform: translateX(-14.28571%);
    transform: translateX(-14.28571%);
  }
  .schedule .return .row.col-4.state-2 {
    -webkit-transform: translateX(-28.57143%);
            transform: translateX(-28.57143%);
    transform: translateX(-28.57143%);
  }
  .schedule .return .row.col-4.state-3 {
    -webkit-transform: translateX(-42.85714%);
            transform: translateX(-42.85714%);
    transform: translateX(-42.85714%);
  }
  .schedule .return .row.col-4.state-4 {
    -webkit-transform: translateX(-57.14286%);
            transform: translateX(-57.14286%);
    transform: translateX(-57.14286%);
  }
  .schedule .return .row.col-4.state-5 {
    -webkit-transform: translateX(-71.42857%);
            transform: translateX(-71.42857%);
    transform: translateX(-71.42857%);
  }
  .schedule .return .row.col-4.state-6 {
    -webkit-transform: translateX(-85.71429%);
            transform: translateX(-85.71429%);
    transform: translateX(-85.71429%);
  }
  .schedule .return .row.col-4.state-7 {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .schedule .return .row.col-5 {
    width: 140%;
  }
  .schedule .return .row.col-5.state-0 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    transform: translateX(0%);
  }
  .schedule .return .row.col-5.state-1 {
    -webkit-transform: translateX(-14.28571%);
            transform: translateX(-14.28571%);
    transform: translateX(-14.28571%);
  }
  .schedule .return .row.col-5.state-2 {
    -webkit-transform: translateX(-28.57143%);
            transform: translateX(-28.57143%);
    transform: translateX(-28.57143%);
  }
  .schedule .return .row.col-5.state-3 {
    -webkit-transform: translateX(-42.85714%);
            transform: translateX(-42.85714%);
    transform: translateX(-42.85714%);
  }
  .schedule .return .row.col-5.state-4 {
    -webkit-transform: translateX(-57.14286%);
            transform: translateX(-57.14286%);
    transform: translateX(-57.14286%);
  }
  .schedule .return .row.col-5.state-5 {
    -webkit-transform: translateX(-71.42857%);
            transform: translateX(-71.42857%);
    transform: translateX(-71.42857%);
  }
  .schedule .return .row.col-5.state-6 {
    -webkit-transform: translateX(-85.71429%);
            transform: translateX(-85.71429%);
    transform: translateX(-85.71429%);
  }
  .schedule .return .row.col-5.state-7 {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .schedule .return .row.col-6 {
    width: 116.66667%;
  }
  .schedule .return .row.col-6.state-0 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    transform: translateX(0%);
  }
  .schedule .return .row.col-6.state-1 {
    -webkit-transform: translateX(-14.28571%);
            transform: translateX(-14.28571%);
    transform: translateX(-14.28571%);
  }
  .schedule .return .row.col-6.state-2 {
    -webkit-transform: translateX(-28.57143%);
            transform: translateX(-28.57143%);
    transform: translateX(-28.57143%);
  }
  .schedule .return .row.col-6.state-3 {
    -webkit-transform: translateX(-42.85714%);
            transform: translateX(-42.85714%);
    transform: translateX(-42.85714%);
  }
  .schedule .return .row.col-6.state-4 {
    -webkit-transform: translateX(-57.14286%);
            transform: translateX(-57.14286%);
    transform: translateX(-57.14286%);
  }
  .schedule .return .row.col-6.state-5 {
    -webkit-transform: translateX(-71.42857%);
            transform: translateX(-71.42857%);
    transform: translateX(-71.42857%);
  }
  .schedule .return .row.col-6.state-6 {
    -webkit-transform: translateX(-85.71429%);
            transform: translateX(-85.71429%);
    transform: translateX(-85.71429%);
  }
  .schedule .return .row.col-6.state-7 {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/*# sourceMappingURL=index.css.map */