@import "./SCSS/base";
@import "./SCSS/setOff";
@import "./SCSS/return";
@import "./SCSS/setOffRWD";
@import "./SCSS/returnRWD";

$focusColor: #ff8f27;
$setOffBg: #f1f1f1;
$returnBg: #eaedf2;
$newYearFont: #24a07c;

body {
  margin: 0;
  font-family: Verdana, Arial, \\5fae\8edf\6b63\9ed1\9ad4, Microsoft JhengHei,
    \\5fae\8edf\96c5\9ed1\9ad4, Microsoft YaHei;
  font-size: 14px;
  color: #999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.schedule {
  width: 90%;
  margin: 30px auto 0;
  @include base();
  @include setOff();
  @include return();
}

@media all and (max-width: 980px) {
  .schedule {
    width: 90%;
    @include setOffRWD();
    @include returnRWD();
  }
}
