@mixin setOff() {
  .set_off {
    width: 12.5%;
    flex-shrink: 1;
    .row {
      flex-flow: column nowrap;
      .info {
        width: 100%;
        background-color: $setOffBg;
        position: relative;
        &:first-child {
          background-color: $returnBg;
        }
        span {
          &:first-child {
            position: absolute;
            top: 6px;
            right: 6px;
            // margin: -5px 15px auto auto;
          }
          &:last-child {
            position: absolute;
            bottom: 6px;
            left: 6px;
            // margin: auto auto -5px 15px;
          }
        }
      }
    }
  }
}
